/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* default to 10px */
}
*,
*:before,
*:after {
  font-family: "Roboto", sans-serif;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-areas: "nav" "content";
  background-color: #35353b;
  color: #e9e9db;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}

/* top nav */
.top-nav {
  position: sticky;
  top: 0;
  width: 100vw;
  box-shadow: 0px 3px 4px #e9e9db;
  overflow: hidden;
  grid-area: nav;
  background-color: #61619a;
}
.top-nav h1 {
  margin: 0;
  padding: 15px;
  text-shadow: 2px 2px 4px hsl(60, 40%, 20%);
}

/* page content */
.page-content {
  grid-area: content;
  overflow: scroll;
}

/* sort buttons */
.sort-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-buttons button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9e9db;
}
.sort-buttons button:hover {
  color: hsl(332, 50%, 65%);
  cursor: pointer;
}

/* delete-button */
.delete-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9e9db;
}
.delete-button:hover {
  color: hsl(332, 50%, 65%);
  cursor: pointer;
}

/* customer page */
.customer-page {
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-areas: "customer-search" "customer-view";
}

/* customer search */
.customer-search {
  grid-area: customer-search;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.customer-search input {
  border-radius: 15px;
  width: 30rem;
  height: 3.5rem;
  outline: none;
  padding: 0 2rem;
  font-size: 2rem;
}

/* customer view */
.customer-view {
  grid-area: customer-view;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "customer-list customer-details";
  gap: 30px;
  padding: 0 30px;
}

/* customer list */
.customer-list {
  grid-area: customer-list;
}
.customer-list table {
  display: grid;
  border-collapse: collapse;
  grid-template-rows: 60px 60vh;
  grid-template-areas: "table-head" "table-body";
}
.customer-list thead {
  grid-area: table-head;
  position: sticky;
  top: 0;
  font-size: 2rem;
  padding: 10px 0;
  background-color: #61619a;
  text-shadow: 2px 2px 4px hsl(60, 40%, 20%);
}
.customer-list tbody {
  grid-area: table-body;
  overflow: scroll;
  font-size: 1.7rem;
}
.customer-list thead,
tbody,
tr {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  text-align: left;
  grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr);
}
.customer-list th {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-list th,
td {
  padding: 10px;
}
.customer-list th:last-child {
  border: 0;
}
.customer-list td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.customer-list td.phone-number {
  display: flex;
  justify-content: space-between;
}
.customer-list td.phone-number a {
  text-decoration: none;
  color: #35353b;
  background-color: #e9e9db;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}
.customer-list td.phone-number a:hover {
  background-color: hsl(332, 50%, 65%);
}
.customer-list tr:nth-child(odd) td {
  background: #4e4e56;
}

/* customer details */
.customer-details {
  grid-area: customer-details;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.customer-details .customer {
  padding: 80px;
  margin-top: 40px;
  background-color: #4e4e56;
  border-radius: 12px;
}
.customer-details .customer .customer-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 2.2rem;
  font-weight: 500;
  color: #4e4e56;
}
.customer-details .customer .customer-form button:hover {
  background-color: hsl(332, 50%, 65%);
  cursor: pointer;
}
